html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

body {
  font-family: "Lato","Arial",sans-serif;
}

.section__container {
  padding: 50px 20px;
}
.section__title {
  font-size: 35px;
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
}
.section__text {
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.section--home {
  width: 100%;
  height: 600px;
}

.home {
  text-align: center;
}
.home__logo {
  width: 50%;
}

.section--presentation {
  width: 100%;
  min-height: 400px;
  background: #0087a9;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.section--pillier {
  width: 100%;
  min-height: 700px;
}
.section--pillier .section__title {
  color: #ff7c2d;
}
.section--pillier .section__text {
  margin-bottom: 20px;
}

.pilliers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 30px;
}
.pilliers__text {
  font-size: 17px;
  line-height: 1.5;
  text-align: justify;
  color: black;
}
.pilliers__img {
  width: 100%;
  margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
  .pilliers {
    flex-direction: column;
  }

  .pillier__item {
    margin-bottom: 20px;
  }
}
.listings {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.listings__left {
  padding-left: 20px;
}
.listings__right {
  padding-left: 20px;
}
.listings__description {
  font-size: 20px;
  margin-bottom: 25px;
  line-height: 1.5;
}

.listing__item {
  font-size: 18px;
  padding-left: 15px;
  font-style: italic;
  margin-bottom: 20px;
}
.listing__icon {
  margin-right: 15px;
  color: #ff7c2d;
}

.section--box {
  background: #ff7c2d;
  color: white;
}

.box-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
.box-info__text {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.5;
}
